/* body{
    background-color: rgb(127, 165, 153);
} */
 .navbar{
    height: 5rem;
    background-color: white;
 }
 .fa-compass{
    color: #fe424d;
    font-size: 2rem;
 }
 .nav-link{
    color: #222222 !important;
 }
 .f-info-links a{
text-decoration: none;
color: #222222;
 }
  .f-info-links a:hover{
    text-decoration: underline;
  }
  .f-info-links,
  .f-info-socials,.brand{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    font-size:1.2rems;
    margin-right: 1.5rem;
  }
  .f-info-socials i{
    
    font-size:1.2rems;
    margin-right: 1rem;
  }
   

  .f-info{
    
    text-align: center;
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
  }

  .card{
    border: none !important;
    margin-bottom: 1.8rem;
  }
  .card-img-top{
    border-radius: 1 rem !important;
    width: 100% !important;
    object-fit: cover !important;
  }
  .card-body{
    padding: 0 !important;

  }
  .card-text p{
font-weight: 400;
  }